# BDAT 1004 – Data Programming

# Problem Set 2

# Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

In [2]:
a = 0
def b():
    global a
    a = c(a)
    return a
def c(a):
    return a + 2

print(b())
print(b())
print(b())
print(a)

2
4
6
6

# Explanation
Initially the value of a=0.

#step 1
when we call fubction b(), then we can see inside the function variable a is declared as global and then value of a= c(a).
which means c function returns 0+2 = 2

#step 2
when again function b() is called, this time we have value of a=2 because a is a global variable.
Then, function c(2) returns 2+2=4.

#step 3
when again function b() is called, this time we have value of a=4 because a is a global variable.
Then, function c(4) returns 4+2=6.

#step 4
print(a)

It simply prints the value of a that is 6.
After the execution of following statements:-
print(b())
print(b())
print(b())

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [17]:
def fileLength(filename):
	try:
		f = open(filename)
		return len(f.read())
	except FileNotFoundError:
		return 'File '+filename+' not found.'
		
print(fileLength('midterm.py'))        
print(fileLength('idterm.py'))

270
File idterm.py not found.

# Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [62]:
class Marsupial:

    def __init__(self, xcoord=0, ycoord=0):
        self.q = []
        self.x = xcoord
        self.y = ycoord

    def put_in_pouch (self, item):
        return self.q.append(item)

    def pouch_contents(self):
        return self.q

    def setx(self, xcoord):
        self.x = xcoord

    def sety(self, ycoord):
        self.y = ycoord

    def get(self):
        return (self.x, self.y)

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __add__(self, point):
        return Point(self.x+point.x, self.y+point.y)

    def __repr__(self):
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(self.x, self.y)

class Kangaroo(Marsupial):

    pass

    

k = Kangaroo()
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:

x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8421

In [6]:
def collatz(n):
    'prints the n-th pattern'
    if n == 1:           # base case
        print(1, end=' ')
    else:
        print(int(n))
        if n%2 == 0:
            n=n/2
        else:
            n=3*n+1
        if n == 1:
            print(1, end=' ')
        else:
            collatz(n)

val = input("Enter your value: ")
val = int(val)
collatz(val)

Enter your value: 10
10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [9]:

def binary(n):
    s = str(n % 2)

    if n >> 1 > 0:
        s += binary(n >> 1)

    return s

val = input("Enter your value: ")
val = int(val)
print(binary(val))

Enter your value: 9
1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.

>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [13]:
infile = open('w3c.html') 
content = infile.read() 
infile.close() 
from html.parser import HTMLParser

class MyHTMLParser(HTMLParser):
    def handle_data(self, data):
        if HTMLParser.get_starttag_text(self).endswith('h1>'):
            print (data)
        if HTMLParser.get_starttag_text(self).endswith('h2>'):
            print ('\t'+data)
            
parser = MyHTMLParser()
parser.feed(content)

W3C Mission


	Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.
>>> 
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [2]:
visited = set() # initialize visited to an empty set

def webdir(url):
    global visited    
    visited.add(url)
    links = analyze(url)
    for link in links:
        if link not in visited:
            try:
                webdir(link)
            except:
                pass

from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):

    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
                        
    def getLinks(self):
        return self.links

def analyze(url):
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()  
    for link in urls:
        print('\t'+link)

    return urls

webdir('http://reed.cs.depaul.edu/lperkovic/test1.html')

	http://reed.cs.depaul.edu/lperkovic/test2.html
	http://reed.cs.depaul.edu/lperkovic/test3.html
	http://reed.cs.depaul.edu/lperkovic/test4.html
	http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8
Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

City Country Season Temperature(C) Rainfall(mm)
Mumbai India Winter 24.8 5.9 
Mumbai India Spring 28.4 16.2 
Mumbai India Summer 27.9 1549.4 
Mumbai India Fall 27.6 346.0 
London United Kingdom Winter 4.2 207.7 
London United Kingdom Spring 8.3 169.6 
London United Kingdom Summer 15.7 157.0 
London United Kingdom Fall 10.4 218.5 
Cairo Egypt Winter 13.6 16.5 
Cairo Egypt Spring 20.7 6.5 
Cairo Egypt Summer 27.7 0.1 
Cairo Egypt Fall 22.2 4.5

In [50]:
# SQL queries
import sqlite3
con = sqlite3.connect('ABCD.db')
cur = con.cursor()
cur.execute("CREATE TABLE Weather (City text, Country text, Season text, Temperature float, Rainfall float)")
record1 = ('Mumbai','India', 'Winter', 24.8, 5.9)
record2 = ('Mumbai','India', 'Spring', 28.4, 16.2)
record3 = ('Mumbai','India', 'Summer', 27.9, 1549.4)
record4 = ('Mumbai','India', 'Fall', 27.6, 346.0)
record5 = ('London','United Kingdom', 'Winter', 4.2, 207.7)
record6 = ('London','United Kingdom', 'Spring', 8.3, 169.6)
record7 = ('London','United Kingdom', 'Summer', 15.7, 157.0)
record8 = ('London','United Kingdom', 'Fall', 10.4, 218.5)
record9 = ('Cairo','Egypt', 'Winter', 13.6, 16.5)
record10 = ('Cairo','Egypt', 'Spring', 20.7, 6.5)
record11 = ('Cairo','Egypt', 'Summer', 27.7, 0.1)
record12 = ('Cairo','Egypt', 'Fall', 22.2, 4.5)


cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)", record1)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)", record2)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)", record3)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)", record4)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)", record5)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)", record6)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)", record7)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)", record8)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)", record9)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)", record10)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)", record11)
cur.execute("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)", record12)

a) All the temperature data.

In [52]:
cur.execute('SELECT Temperature FROM Weather')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b) All the cities, but without repetition.

In [55]:
cur.execute('SELECT Distinct City FROM Weather')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India.

In [53]:
cur.execute('SELECT * FROM Weather Where Country="India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records.

In [54]:
cur.execute('SELECT * FROM Weather Where Season="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters

In [56]:
cur.execute('SELECT City, Country , Season FROM Weather Where Rainfall Between 200 and 400')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.

In [57]:
cur.execute('SELECT City, Country FROM Weather Where Temperature>20 order by Temperature')
cur.fetchall()

[('Cairo', 'Egypt'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India')]

g) The total annual rainfall for Cairo.

In [58]:
cur.execute('SELECT Sum(Rainfall) FROM Weather Where City="Cairo"')
cur.fetchall()

[(27.6,)]

In [ ]:
h) The total rainfall for each season.

In [60]:
cur.execute('SELECT distinct Sum(Rainfall), Season FROM Weather group by Season ')
cur.fetchall()

[(569.0, 'Fall'),
 (192.29999999999998, 'Spring'),
 (1706.5, 'Summer'),
 (230.1, 'Winter')]

# Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.)

In [38]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

for i in range(len(words)):
    words[i] = words[i].upper()

print(words)

for i in range(len(words)):
    words[i] = words[i].lower()

print(words)

arr1 = list()
for i in range(len(words)):
	arr1.insert(len(words[i]),len(words[i]))

print(arr1)

arr2 = list()
for i in range(len(words)):
    arr2.insert(len(words[i]),[words[i].upper(),words[i].lower(),len(words[i])])

print(arr2)
b) All the cities, but without repetition.
new_arr = list()
for i in range(len(words)):
    if(len(words[i]) >= 4):
        new_arr.insert(len(words[i]),words[i])

print(new_arr)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 3, 4, 3, 4, 5]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['DOG', 'dog', 3], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['FOX', 'fox', 3], ['OVER', 'over', 4], ['JUMPS', 'jumps', 5]]
['quick', 'brown', 'jumps', 'over', 'lazy']